@tailwind base;
@tailwind components;
@tailwind utilities;

/* petites animations */
.card {
  transition: transform 0.12s ease, box-shadow 0.12s ease;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}